* {
  color: inherit;
}

/* 가상 요소 선택자 */
::selection {
  background: #373e6a;
  color: pink;
}

/* CSS 선택자(Selector) */
body {
  font-family: 'SUIT';
  margin: 0;
  font-weight: 300;
  background-color: #181818;
  color: hsla(110, 100%, 100%, 1);
}
.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

.align {
  text-align: center;
}
ul.menu {
  margin: 0;
  padding-left: 0;
}

h1.menu {
  margin: 0;
  padding-left: 0;
  color: red;
}

/* 아이디선택자 */
#demo {
  border: red 2px solid;
}

/* 속성선택자 */

.menu a[href$='.html'] {
  background-color: tan;
}

/* 선택자 목록 */
.fancy,
.menu {
  font-size: 24px;
}

/* 가상요소 선택자 */
.align::before {
  content: '이전 요소';
}
.align::after {
  content: '다음 요소';
}

.menu li:nth-child(odd) {
  color: yellow;
}

.menu a:hover {
  border: 5px solid blue;
}
